.hero-section {
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-image: url('./img/bgcover5.jpg');
}

.hero-content {
  height: 90%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  color: #ffffff; /* text-white equivalent */
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  background-color: #3125d8;
  border-radius: 999px;
  color: #ffffff; 
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #4338ca;
}
