/* NavBar Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
}

.navbar-logo a {
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  margin-right: 20px;
}

.navbar-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-links ul li a:hover {
  color: #8399d4; 
}
